<!DOCTYPE html>
<head>
    <title>Scam-Text-Detector</title>
</head>
<body>
    <div class="container" id="content">
        <form action="{{ url_for('send_mail') }}" method="POST">
            <div class="inputbox">
                <input type="textarea" required="required" size="50" name="user_input">
                <span>Paste text here</span>
            </div>
            <div class="inputbox">
                <input type="submit" value="Submit" name="submit" onclick="loading();">
            </div>
        </form>
    </div>
</body>
</html>
